node_modules
**/node_modules
**/dist
**/.git
.git
*.log
**/*.log
.env
**/.env
**/coverage
**/playwright-report
**/test-results
**/.vite
**/tsbuildinfo
Dockerfile
**/Dockerfile
.dockerignore
README.md
load
